@{
    ViewData["Title"] = "Quadrant View";
}

@model List<TaskInfo>

<div class="container">
    <div class="row">
        <div class="col-6">
            <h1>Quadrant 1</h1>
            <h4>Important/Urgent</h4>
            <table>
                <thead>
                    <tr>
                        <th>Task</th>
                        <th>Due Date</th>
                        <th>Category</th>
                        <th>Completed</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var v in Model)
                    {
                        @if (v.Quadrant == 1)
                        {
                            <tr>
                                <td>@v.Task</td>
                                <td>@v.DueDate</td>
                                <td>@v.Category.CategoryName</td>
                                <td><input type="checkbox" /></td>
                                <td>Edit</td>
                                <td>Delete</td>
                            </tr>
                        }
                    }
                </tbody>
            </table>
        </div>
        <div class="col-6">
            <h1>Quadrant 2</h1>
            <h4>Important/Not Urgent</h4>
            <table>
                <thead>
                    <tr>
                        <th>Task</th>
                        <th>Due Date</th>
                        <th>Category</th>
                        <th>Completed</th>
                    </tr>
                </thead>
            </table>
        </div>
    </div>
    <div class="row">
        <div class="col-6">
            <h1>Quadrant 3</h1>
            <h4>Not Important/Urgent</h4>
            <table>
                <thead>
                    <tr>
                        <th>Task</th>
                        <th>Due Date</th>
                        <th>Category</th>
                        <th>Completed</th>
                    </tr>
                </thead>
            </table>
        </div>
        <div class="col-6">
            <h1>Quadrant 4</h1>
            <h4>Not Important/Not Urgent</h4>
            <table>
                <thead>
                    <tr>
                        <th>Task</th>
                        <th>Due Date</th>
                        <th>Category</th>
                        <th>Completed</th>
                    </tr>
                </thead>
            </table>
        </div>
    </div>
</div>